# Week 7 - HPC and Large Data Files
# Ignore R data files to keep repository size manageable

#############################################
# R data files
#############################################
*.rda
*.RData
*.Rda
*.rdata

#############################################
# R temporary files
#############################################
.Rhistory
.RData
.Rproj.user/

#############################################
# Compressed output files
#############################################
*.tgz
*.tar.gz
*.zip

#############################################
# Temporary lock files
#############################################
.~lock.*#
~$*

#############################################
# Large output files
#############################################
*.log
*.out
