
#############################################
# Specific folder structures
#############################################

# Ignore all sandbox folders anywhere
**/sandbox/

# Ignore everything inside results folders, except .gitkeep
**/results/*
!**/results/.gitkeep


#############################################
# Temporary and backup files
#############################################

**/*~          # Editor backup files (vim, emacs, etc.)
**/*.tmp       # Temporary files
**/*.swp       # Vim swap files
**/*.swx       # Other swap-like files
**/*.bak       # Backup files
**/*.orig      # Merge/backup files
**/*.old       # Old versions
.tmp


#############################################
# Application logs
#############################################

**/*.log
**/logs/


#############################################
# Virtual environments
#############################################

**/myenv/
**/env/
**/venv/
**/.env               # Environment variables (may contain secrets)


#############################################
# Python
#############################################

# Compiled bytecode
**/__pycache__/
**/*.py[cod]
**/*.pyo
**/*.pyd

# Packaging / build artefacts
**/*.egg-info/
**/dist/
**/build/
**/*.egg

# Python virtual environment versions
**/.python-version


#############################################
# R
#############################################

# R working files
**/.Rhistory
**/.RData
**/.Rapp.history
**/.Renviron         # May contain secrets

# RStudio project files and user settings
**/.Rproj.user/
**/*.Rproj.user
**/*.Rproj

# Packrat / renv local package libraries
**/packrat/
**/renv/

# R package build artefacts
**/*.tar.gz
**/*.Rcheck/


#############################################
# IDEs / Editors
#############################################

**/.vscode/          # VS Code workspace settings
**/.idea/            # JetBrains IDEs
**/*.sublime-workspace
**/*.sublime-project


#############################################
# Secrets / Keys
#############################################

**/*.pem
**/*.key
**/*.crt
**/*.cert
